.icon-btn {
  background: none;
  border: none;
}

.btn-link {
  border: none;
  font-size: small;
  padding-left: 0px;
  padding-top:1px;
  padding-bottom: 1px;
}

.vote-score {
  vertical-align: middle;
  text-align: center;
  padding-left: 15px;
}

.item-content {
  font-size: small;
  margin-bottom: 3px;
}

.item-metadata {
  color: #888;
  font-size: small;
  margin-bottom: 0px;
}

.comment-edit-section {
  font-size: small;
  margin-bottom: 0px;
}

.comments-total {
  font-size: small;
}

.post-list {
  margin-top: 15px;
}

.main {
  margin-left: 15px;
}